<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity"/>
<!--        <activity android:name="com.intlum.milchmom.thanku.ThankYou"/>-->
        <activity android:name="com.example.myapplication.checkout.Checkout"/>
        <activity android:name="com.example.myapplication.confirmorderdetail.ConfirmOrderDetail"/>
        <activity android:name="com.example.myapplication.cart.Cart"/>
        <activity android:name=".profile.Edit"/>
        <activity android:name="com.example.myapplication.orderhistory.OrderHistory"/>
<!--        <activity android:name="com.intlum.milchmom.support.Support"/>-->
        <activity android:name="com.example.myapplication.AboutUs.AboutUs"/>
        <activity android:name="com.example.myapplication.RateUs.RateUs"/>
        <activity android:name="com.example.myapplication.profile.Profile"/>
        <activity android:name="com.example.myapplication.productdetail.ProductDetail"/>
        <activity android:name=".checkout.paymentfragment.PaymentFragment"/>
        <activity android:name=".thanku.ThankYou"/>
<!--        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.example.myapplication.dashbord.Dashbord"/>-->
        <activity android:name="com.example.myapplication.verifyotp.VerifyOtp"/>
        <activity android:name="com.example.myapplication.login.Login"/>
        <activity android:name="com.example.myapplication.Discount.Offers"/>
        <activity android:name=".Search.Search"/>
        <activity android:name=".cart.Shopping"/>
        <activity android:name="com.example.myapplication.dashbord.Dashbord">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <service-->
<!--            android:name=".java.MyFirebaseMessagingService"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>