<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"

        android:theme="@style/AppTheme.NoActionBar">
<!--        android:hardwareAccelerated="false"-->
        <activity android:name=".MainActivity"/>
<!--        android:hardwareAccelerated="false"-->
<!--        <activity android:name="com.intlum.milchmom.thanku.ThankYou"/>-->
        <activity android:name="com.example.myapplication.checkout.Checkout"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.dashbord.bulkorder.BulkOrderFragment"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.confirmorderdetail.ConfirmOrderDetail"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.cart.Cart"
            android:noHistory="true"/>
        <activity android:name=".profile.Edit"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.orderhistory.OrderHistory"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.orderhistory.activeorderfragment.Order_detail"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.orderhistory.oldorderfragment.Order_detail_Deliver"
            android:noHistory="true"/>
<!--        <activity android:name="com.intlum.milchmom.support.Support"/>-->
        <activity android:name="com.example.myapplication.AboutUs.AboutUs"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.RateUs.RateUs"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.profile.Profile"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.productdetail.ProductDetail"
            android:noHistory="true"/>
        <activity android:name=".checkout.paymentfragment.PaymentFragment"
            android:noHistory="true"/>
        <activity android:name=".checkout.paymentfragment.OnlinePaymentFragment"
            android:noHistory="true"/>
        <activity android:name=".thanku.ThankYou"
            android:noHistory="true"/>
        <activity android:theme="@style/AppTheme.NoActionBar" android:name="com.example.myapplication.dashbord.Dashbord"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.verifyotp.VerifyOtp"
            />
        <activity android:name="com.example.myapplication.login.Login"
            />
        <activity android:name="com.example.myapplication.Discount.Offers"
            android:noHistory="true"/>
        <activity android:name=".Search.Search"
            android:noHistory="true"/>
        <activity android:name=".cart.Shopping"
            android:noHistory="true"/>
        <activity android:name="com.example.myapplication.splashscreen.SplashScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".Notifcation.Notification"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>